* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'OpenSans Regular';
}

@font-face {
	font-family: 'OpenSans Regular'; 
    font-weight: 400;
	src: url(../fonts/OpenSans-Regular.ttf); 
}

@font-face {
	font-family: 'OpenSans SemiBold'; 
    font-weight: 600;
	src: url(../fonts/OpenSans-SemiBold.ttf); 
}

@font-face {
	font-family: 'OpenSans Light'; 
    font-weight: 300;
	src: url(../fonts/OpenSans-Light.ttf); 
}

.header {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.header__subjects-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 90, 193, .6);
    padding: 15px 35px;
}

.header__subjects-hav-none2 {
    display: none;
    cursor: pointer;
}

.header__subjects-nav-list ul {
    display: flex;
    gap: 26px;
}

.header__subjects-nav-list li {
    display: flex;
    gap: 26px;
}

.header__subjects-nav-list a {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.header__subjects-text {
    max-width: 1110px;
    margin: auto;
    display: flex;
}

.header__subjects-text-info {
    margin-top: 202px;
    margin-left: -270px;
}

.header__subjects-text-block {
    max-width: 444px;
    height: 720px;
    width: 100%;
    background-color: rgba(0, 91, 193, .6);
}

.header__subjects-text-title {
    font-size: 48px;
    letter-spacing: 0.01em;
    line-height: 71px;
    font-family: 'OpenSans Regular';
    color: #fff;
}

.header__subjects-text-desc {
    margin-top: 40px;
    font-size: 16px;
    color: #fff;
}

.header__subjects-text-btn {
    margin-top: 55px;
}

.header__subjects-text-btn a {
    padding: 15px 40px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.projects, .catalog, .rent {
    margin-top: 150px;
}

.news {
    margin-top: 108px;
}

.footer {
    margin-top: 160px;
}

.projects__subjects, .catalog__subjects, .rent__subjects, .news__subjects, .footer__subjects {
    max-width: 1110px;
    margin: auto;
}

.projects__subjects-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects__subjects-title-text {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: 'OpenSans Regular';
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: relative;
}

.projects__subjects-title-text::before {
    content: '';
    background-image: url(../img/decor.svg);
    width: 100px;
    height: 16px;
    margin-right: 40px;
}

.projects__subjects-title-buttons {
    display: flex;
}

.projects__subjects-title-buttons-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border: 2px solid #005BC1;
    cursor: pointer;
}

.projects__subjects-title-buttons-btn:nth-child(1) {
    margin-right: -2px;
}

.projects__subjects-title-buttons-btn:nth-child(1)::before {
    content: '';
    background-image: url(../img/arrow.svg);
    color: #005BC1;
    width: 10px;
    height: 17px;
}

.projects__subjects-title-buttons-btn:nth-child(2)::before {
    content: '';
    background-image: url(../img/arrow.svg);
    color: #005BC1;
    width: 10px;
    height: 17px;
    transform: rotate(-180deg);
}

.projects__subjects-slides {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 65px;
}

.projects__subjects-slides-slide {
    background-color: rgba(0, 0, 0, 1);
    flex: 45%;
    position: relative;
    transition: .5s;
    height: fit-content;
    cursor: pointer;
}

.projects__subjects-slides-slide img {
    height: 100%;
    width: 100%;
    transition: .5s;
    object-fit: cover;
}

.slide__bg {
    height: 400px;
}

.slide__text {
    position: absolute;
    background-color: #fff;
    padding: 20px 30px;
    bottom: 35px;
    right: 35px;
}

.slide__text-title {
    font-size: 18px;
    color: #343434;
    line-height: 27px;
    letter-spacing: 0.05em;
    font-family: 'OpenSans Regular';
}

.slide__text-desc {
    margin-top: 14px;
    font-size: 14px;
    color: #343434;
    font-family: 'OpenSans Light';
}

.catalog__subjects-list {
    display: flex;
    justify-content: center;
    gap: 47px;
}

.catalog__subjects-list .active {
    color: #005BC1;
    border-bottom: 2px solid #005BC1;
}

.catalog__subjects-list-object {
    font-size: 24px;
    font-family: 'OpenSans Regular';
    line-height: 36px;
    letter-spacing: 0.05em;
    cursor: pointer;
}